<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Navbar1</title>
    <link rel="stylesheet" href="style.css" />
    <script src="script.js" defer></script>
    <script
      src="https://kit.fontawesome.com/8c856721cc.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav class="navbar1_component">
      <div class="navbar1_wrapper">
        <a class="logo_wrapper">
          <img src="" alt="" />
        </a>
        <ul class="links_wrapper">
          <li><a href="#"></a>Link 1</li>
          <li><a href="#"></a>Link 2</li>
          <li><a href="#"></a>Link 3</li>
          <li><a href="#"></a>Link 4<span class="dropdown_chevron"></span></li>
        </ul>
        <div class="btns_wrapper">
          <button class="primary_btn">Button</button>
          <button class="secondary_btn">Button</button>
        </div>
      </div>
    </nav>
  </body>
</html>
